.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 {
    grid-area: 1 / 1 / 3 / 13;
}
.div2 {
    grid-area: 4 / 2 / 10 / 11;
}
.div3 {
    grid-area: 11 / 1 / 13 / 13;
}

.header {
    background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,140,0,1) 32%, rgba(0,0,0,1) 94%);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 50px;
}

.nav-link {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}


/*--------------------------------------------------------------------------*/
.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1200px;
    background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,140,0,1) 32%, rgba(0,0,0,1) 94%);
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 300px;
    height: 300px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}
/*-------------------mobile--------------------------------*/
@media screen and (max-width: 768px) {
    .header {
        background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,140,0,1) 32%, rgba(0,0,0,1) 94%);
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    /* .navbar {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 300px;
    } */
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav-link {
        color: #ffffff;
        text-decoration: none;
    }
    /*----------------------------*/
    .FlexContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 555px;
        background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,140,0,1) 32%, rgba(0,0,0,1) 94%);
        height: 80vh;
        overflow: auto;
        flex-direction: row;
    }
    
    .FlexContainer div {
        width: 195px;
        height: 300px;
        margin: 5px;
        background: rgb(255, 255, 255);
        border-radius: 25px;
    }
}